<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Wrekt.gg | Stats for {{summonerId}}</title>
  <meta name="description" content="Homepage - Wrekt.gg">
  <meta name="author" content="Mahuta Hoerara-Smith">
  <link rel="stylesheet" href="./css/skeleton.css">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/index.css">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">



</head>
<body>{{body}}</body>
</html>
Made by Mahuta Hoerara-Smith, in partnership with Riot Games 2016
