<div class="container">
    <div class="row">
      <div class="one-third.column" id="homeDescription1"style="margin-top: 10%">
        <h1>Wrekt.GG</h1>
          <br>
        <h2>Welcome summoner, This is your place for up-to-date statistics on your League of Legends journey</h2>
      </div>
      <div class="two-thirds.column" id="homeDescription2"style="margin-top: 10%">
        <br>
        <fieldset>
          <form method='POST',action='/search'>Enter your summoner name:<br>
            <input type="summonerName" name="summonerName"></input>
            <br>
            <input type="submit" id="searchSummoner"value="Submit"></input>
          </form>
        </fieldset>
        <li>Summoner Profile</li>
        <li>News</li>
        <br>
        <h4>What is Wrekt.GG?</h4>
        <p>Wrekt.GG is a website made by a summoner for the summoners of OCE, It tracks game stats, champion stats and shows patch notes with more servers and features coming soon
        </p>
        <br>
        <p>Made by Mahuta Hoerara-Smith, in partnership with Riot Games 2016</p>
      </div>
    </div>
  </div>

